
/*

.gv-headerRow {
  font-size: 18px;
  color: var(--primary-dark);
}

  .gv-headerCell {
    background-color: rgb(255,255,255);
    width: 60px;
  }

.gv-tableRow {
  font-size: 16px;
  color: var(--primary-color);
}

  .gv-tableCell {
    background-color: rgb(255,255,255);
  }

*/