/* Variable definitions */

:root {
  
  /* Color palette */
  --primary-color: #002d72;
    --on-primary-color: #fff;
  --primary-dark: #000346;
    --on-primary-dark: #fff;
  --primary-light: #4355a1;
    --on-primary-light: #fff;
  
  --secondary-color: #d50032;
    --on-secondary-color: #fff;
  --secondary-dark: #9b000d;
    --on-secondary-dark: #fff;
  --secondary-light: #ff525c;
    --on-secondary-light: #000;
  
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

body {
  dispaly: flex;
  flex-direction: column;
}

/* PAGE HEADER */

header {
  z-index: 8;
  height: 56px;
  padding: 16px;
  background: var(--primary-color);
  color: var(--on-primary-color);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

  h1 {
    display: inline-block;
    font-size: 20px;
    padding-left: 8px;
  }
  
  .header-icon {
    padding-right: 8px;
    line-height: 24px;
    font-size: 20px;
  }



