* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

/* Typography */

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
   font-size: 20px; 
}

/* Page layout */

header {
  border: 1px solid #f00;/* Temp for functional wireframe */
  padding: 16px; /* Temp for functional wireframe */
}

main {
  border: 1px solid #0f0; /* Temp for functional wireframe */
  padding: 16px; /* Temp for functional wireframe */
}

  .card {
    border: 1px solid #ccc; /* Temp for functional wireframe */
    padding: 5px; /* Temp for functional wireframe */
    margin: 5px; /* Temp for functional wireframe */
  }
  
  table {
    margin: 5px; /* Temp for functional wireframe */
    padding: 5px; /* Temp for functional wireframe */
    border: 1px solid #ccc; /* Temp for functional wireframe */
  }
  
  td {
    padding: 5px; /* Temp for functional wireframe */
  }

nav {
  border: 1px solid #00f; /* Temp for functional wireframe */
  padding: 16px; /* Temp for functional wireframe */
}

  .js-form-alert-two-teams, .js-form-alert-dist-teams {
    display: none; /* Default until alert triggered */
    color: #fff; /* Temp for functional wireframe */
    background: #f00; /* Temp for functional wireframe */
    
  }

footer {
  border: 1px solid #ff0; /* Temp for functional wireframe */
  padding: 16px; /* Temp for functional wireframe */
}
